<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <app-nav-bar></app-nav-bar>
            </div>
            <div class="col-4" style="margin-top: 66px;">
                <div class="blue-box">
                    <div class="d-flex justify-content-center align-items-center">
                        <img class=" img mw-100" src="../../../assets/img/sign-up-weelz/verfication/Group 477@3x.png"
                            alt="">
                        <div class="ms-3 fw-bold h6">
                            <div class="subheadline">
                                Verify Mobile Number
                            </div>
                            <div class="gray-text">
                                a verification code has been sent to +201xxxxxxxxx
                            </div>
                        </div>
                    </div>
                </div>
                <div class="subheadline2">Enter the Verification Code</div>
                <div class="d-flex justify-content-start align-items-center my-3">
                    <input type="text" class="form-control gray-input me-2">
                    <input type="text" class="form-control gray-input me-2">
                    <input type="text" class="form-control gray-input me-2">
                    <input type="text" class="form-control gray-input me-2">
                </div>
                <div class="mb-2">
                    <button class="verify-btn">Verify</button>
                </div>
                <div class="mt-2">
                    <a class=" purple-text text-decoration-none">
                        Resend code?
                    </a>
                </div>
            </div>
            <div class="col-8">

            </div>
        </div>
    </div>
</section>