<div class="container-fluid">
    <div class="row">
        <app-nav-bar></app-nav-bar>  
    </div>
    <div class="row">
        <div class="col-4">
            <div class="subheadline ">Private Car With Your Driver </div>
            <div class="sub-text align-item-left">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                nonumy</div>
            <div class="label-input mb-2">Phone Number</div>
            <div class="d-flex justify-content-left align-items-center">
                <div class="d-flex justify-content-center align-items-center gray-background">
                    <img class="egypt-1" src="../../../assets/img/sign-up-weelz/egypt (1).svg" alt="">
                    <div class="value">+20</div>
                </div>
                <input type="text" class="form-control color border-0">
            </div>
            <div class="label-input mb-2 mt-3">Username</div>
            <input type="text" class="form-control second-input border-0">

            <button class="btn-block border-0 mt-5 White---08pt-Radius">
                Sign-in
            </button>

        </div>
        <div class="col-8 ">
            <div class="white-subheadline ms-2">Download Weelz Mobile App</div>

            <div class="d-felx justify-content-center align-items-center mt-2">
                <a href=""><img class="google-play"
                        src="../../../assets/img/sign-up-weelz/app-store-google-4d63c31a3e.svg" alt=""></a>
                <a href=""><img class="app-store ms-3"
                        src="../../../assets/img/sign-up-weelz/app-store-apple-f1f919205b.svg" alt=""></a>
            </div>
        </div>
    </div>
</div>



<!-- <section>
    <div class="row">
        <div class="col-4 white-background">
            <div class="container">
                <img class=" weelz-logo mt-4" src="../../../assets/img/sign-up-weelz/Group 446.svg" alt="">
                <div class="subheadline ">Private Car With Your Driver </div>
                <div class="sub-text align-item-left">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                    nonumy</div>
                <div class="label-input mb-2">Phone Number</div>
                <div class="d-flex justify-content-left align-items-center">
                    <div class="d-flex justify-content-center align-items-center gray-background">
                        <img class="egypt-1" src="../../../assets/img/sign-up-weelz/egypt (1).svg" alt="">
                        <div class="value">+20</div>
                    </div>
                    <input type="text" class="form-control color border-0">
                </div>
                <div class="label-input mb-2 mt-3">Username</div>
                <input type="text" class="form-control second-input border-0">

                <button class="btn-block border-0 mt-5 White---08pt-Radius">
                    Sign-in
                </button>
            </div>
        </div>
        <div class="col-8 background-img">
            <div class="container">
                <div class="d-flex justify-content-end align-items-center mt-4">
                    <div class="nav-subheadline me-2">About</div>
                    <div class="nav-subheadline">Privacy Policy</div>
                </div>
                <div class="white-subheadline ms-2">Download Weelz Mobile App</div>
               
                <div class="d-felx justify-content-center align-items-center mt-2">
                    <a href=""><img class="google-play" src="../../../assets/img/sign-up-weelz/app-store-google-4d63c31a3e.svg" alt=""></a>
                    <a href=""><img class="app-store ms-" src="../../../assets/img/sign-up-weelz/app-store-apple-f1f919205b.svg" alt=""></a>
                </div>

            </div>
        </div>

    </div>

</section> -->

<!-- 
<div class="row">
    <div class="col-4  white-background"></div>
    <div class="col-8 "></div>
</div> -->