.white-background{
    background-color:#ffffff ;

  

}

.background-img{
     background-image: url('../../../assets/img/sign-up-weelz/Group\ 729@3x.jpg');
     background-repeat: no-repeat;
    background-position: center;
   background-size: 800px 750px;
   padding-right: 49px;
     width: 100%;
     max-width: 100%;
     height: 100%;
     position: fixed;
     object-fit: cover;
     overflow-y: scroll;
    


}
.subheadline{
    width: 169px;
  height: 49.5px;
  margin: 50.1px 196px 7px 0;
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  line-height: 25px;

    
}

.sub-text{
    width: 221.5px;
  height: 31px;
  margin: 7px 143.5px 17.6px 0;
  font-size: 11px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: #828282;
}
.weelz-logo{
    width: 160px;
    height: 36.4px;
    margin: 0px 477.8px 0 0;
    object-fit: contain;
}
.label-input{
    font-size: 12px;
  font-weight: 700;
    line-height: 11px;
}
.gray-background{
    width: 61px;
  height: 30px;
  margin: 0 7.5px 0 0;
  padding: 7.4px 12px 6.1px 10.4px;
  border-radius: 2.5px;
  background-color: #f1f1f1;

}
.egypt-1 {
    width: 16.5px;
    height: 16.5px;
    margin: 0 2.5px 0 0;
    object-fit: contain;
  }

  .value{
    width: 19.5px;
    height: 13.5px;
    margin: 1.6px 0 1.4px 2.5px;
    font-size: 11px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.18;
    letter-spacing: -0.26px;
    text-align: left;
    color: #bfbfbf;

  }

  .color{
    width: 191.5px;
    height: 30px;
    padding: 9px 128.5px 7.5px 8px;
    border-radius: 2.5px;
    background-color: #f1f1f1;
    
  }
  .second-input {
      @extend .color;
      width:260px;
  }

  .White---08pt-Radius{
    width: 160px;
    height: 30px;
    
    border-radius: 4px;
    background-image: linear-gradient(96deg, #00c3e1 13%, #00c0dd 72%);
    font-size: 11px;
    font-weight: 600;
    font-style: normal;
    line-height: 1;
    text-align: center;
    color: #ffffff;
   
  }

  .button-label{
        width: 39px;
        height: 13.5px;
        font-size: 11px;
        font-weight: 600;
        font-style: normal;
        line-height: 1;
        text-align: center;
        color: #ffffff;
  
  }
  .nav-subheadline{
    font-size: 12px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.5;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
     color: 000000;
     font-size: 12px;
     line-height: 30px;
     font-weight: 600;
  }
  .white-subheadline{
    width: 218px;
    height: 60.5px;
    font-size: 25px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: normal;
    // text-align: left;
    color: #ffffff;
    margin-top:300.5px;
  }
    .google-play{
      width:114.5px;
     height:33.9px ; 
  }

  .app-store{
      width:100.2px;
      height:32.4px; 
  }
