<div class="background-img">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light" style="margin-top: 40px;">
      <a class="navbar-brand" href="#">
        <img src="../../../assets/img/sign-up-weelz/home-icons-weelz/Group 446.svg" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto me-5 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link subheadline3" aria-current="page" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link subheadline3" href="#">Privacy Policy</a>
          </li>
          <li class="nav-item">
            <button class="btn btn-primary border-0 text-center language-btn">
              <div class="value">عربي</div>
            </button>
            <!-- <a class="nav-link dropdown-toggle drop-down " href="#" id="navbarDropdown" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                عربي
              </a> -->
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">English</a></li>
            </ul>
          </li>
        </ul>
      </div>


    </nav>

    <div class="row">
      <div class="col-lg-4">
        <div class="row">
          <div class="col-sm-12 col-md-12 ">
            <div class="subheadline-1 ">Private Car With Your Driver </div>
            <div class="subheadline-2">Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
              sed diam nonumy eirmod</div>
            <button class="btn btn-primary btn-block White---08pt-Radius border-0">Get Started</button>
            <div class="d-flex justify-content-left align-items-center mb-5">
              <a href=""><img class="google-play"
                  src="../../../assets/img/sign-up-weelz/app-store-google-4d63c31a3e.svg" alt=""></a>
              <a href=""><img class="app-store ms-2"
                  src="../../../assets/img/sign-up-weelz/app-store-apple-f1f919205b.svg" alt=""></a>
            </div>
          </div>
        </div>
      </div>


      <div class="col-md-8">
        <div class="row">
          <div class="col-sm-12">
            <div class="">
              <div class="phone-background">
                <img class="mw-100" src="../../../assets/img/sign-up-weelz/home-icons-weelz/Mask Group 24@3x.png"
                  alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>