<div class="background-img">
    <div class="container">
        <div class="row">
            <div class="col-md-4 ">
                <div class="mt-5 mb-5"><img src="../../../assets/img/sign-up-weelz/home-icons-weelz/Group 446.svg"
                        alt=""></div>
                <div class="subheadline-1 ">Private Car With Your Driver </div>
                <div class="subheadline-2">Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                    sed diam nonumy eirmod</div>
                <button class="btn btn-primary btn-block White---08pt-Radius border-0 ">Get Started</button>
                <div class="d-flex justify-content-left align-items-center mb-5">
                    <a href=""><img class="google-play"
                            src="../../../assets/img/sign-up-weelz/app-store-google-4d63c31a3e.svg" alt=""></a>
                    <a href=""><img class="app-store ms-2"
                            src="../../../assets/img/sign-up-weelz/app-store-apple-f1f919205b.svg" alt=""></a>

                </div>
            </div>

            <div class="col-md-8">
                <div class="d-flex justify-content-center align-items-center ms-5" style="margin-top:80px;">
                    <div class="subheadline3 me-2">About</div>

                    <div class="subheadline3 ms-2">Privacy Policy</div>
                    <div class="">
                        <div class="dropdown">
                            <button class="btn btn-block drop-down dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              عربي 
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">English</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="phone-background">
                    <img class="mw-100" src="../../../assets/img/sign-up-weelz/home-icons-weelz/Mask Group 24.webp"
                        alt="">
                </div>

            </div>
        </div>
    </div>
</div>