<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#">
        <img src="../../../assets/img/sign-up-weelz/Group 446.svg" alt="">
    </a>
    <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" style=" margin-right: 93px;">
        <ul class="navbar-nav ms-auto me-5 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link nav-subheadline" aria-current="page" href="#">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-subheadline" href="#">Privacy Policy</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle drop-down " href="#" id="navbarDropdown" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    عربي
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#">English</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>